* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1d2671, #0f0c29);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.studio {
  width: 95%;
  max-width: 1200px;
  padding: 40px;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

p {
  text-align: center;
  opacity: 0.85;
  margin-bottom: 30px;
}

#piano-head {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

#guitar-head {
  margin-top: 1.2rem;
  margin-bottom: -0.8rem;
}

#drum-head {
  margin-top: 1.2rem;
  margin-bottom: -0.8rem;
}

.piano .keys {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.piano .key {
  width: 65px;
  height: 200px;
  border-radius: 12px;
  background: linear-gradient(to bottom, #ffffff, #e6e6e6);
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transition: all 0.15s ease;
}

.piano .key.active {
  transform: translateY(6px);
  background: linear-gradient(to bottom, #ffdf6c, #ffb703);
  box-shadow: 0 0 40px rgba(255, 183, 3, 0.9);
}

.guitar .keys {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

.guitar .key {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: rgba(77, 214, 255, 0.15);
  border: 2px solid #4dd6ff;
  color: #4dd6ff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s;
}

.guitar .key.active {
  transform: scale(1.12);
  box-shadow: 0 0 25px #4dd6ff;
}

.drums .keys {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.drums .key {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  background: linear-gradient(145deg, #00b4d8, #0077b6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
  transition: 0.15s;
}

.drums .key.active {
  transform: scale(0.95);
  box-shadow: 0 0 35px rgba(0, 180, 216, 0.9);
}
